.nav{
    display: flex;
    justify-content:space-around;
    gap: 80px;
}
.navbar{
    color: #FFFFFF;
}
.card{
    display: flex;
    justify-content: space-around;    
}
.input{
    display: flex;
    justify-content: space-around;
    padding-left: 420px;
    padding-right: 420px;
}
.navmain{
    background-color: rgb(1, 1, 82);
}
