.nav{
    display: flex;
    justify-content:space-around;
}
.navbar{
    color: #FFFFFF;
}
.input{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.navmain{
    background-color: rgb(1, 1, 82);
}
